
.Parte1 {
    width: 800px;
    border: 2px solid #b7b7b7;
    background-color: white;
}
div .uno {
    background-color: yellow;
    
}
div .dos {
    background-color: dodgerblue;
    
}
div .tres {
    background-color: #ff7171;
    
}
.uno {
    width: 200px;
    height: 150px;
    float: right;
}
.dos {
    width: 200px;
    height: 150px;
    float: right;
}
.tres {
    width: 200px;
    height: 150px;
    float: right;
}
